{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% include "menu.html.twig" %}

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>
    <div>
        {{ page }}
    </div>

  <div>
    <a class="" href="{{ path('index_admin') }}">Espace Admin</a> 
  </div>
  
   <div> 
       <p>  <a class="" href="{{ path('index_utilisateurs_inscription') }}">Inscrivez-vous</a> </p> 
    </div> 
   <div>
       <p> Vous êtes auteur</p>
       <a class="" href="{{ path('index_auteurs_inscription') }}">Inscrivez-vous</a> 
   </div>
</div>
{% endblock %}
