<a href="{{ path('index_categories') }}">Catégories</a>
  <a class="lien" href="{{ path('index_categories') }}">Création des catégories</a> 
  <a href="{{ path('index_articles') }}">Articles</a>
  <a class="lien" href="{{ path('index_articles_creation') }}">Création des articles</a> 